<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93660776492-cebjmtolto4diuejgq450qafh25lart3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93660776492-cebjmtolto4diuejgq450qafh25lart3</string>
	<key>API_KEY</key>
	<string>AIzaSyAB9OV8FpxKLYP90-PQEKWrzTAHDfUwKZY</string>
	<key>GCM_SENDER_ID</key>
	<string>93660776492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NayyerAli.ClickAWash</string>
	<key>PROJECT_ID</key>
	<string>clickawash-f3623</string>
	<key>STORAGE_BUCKET</key>
	<string>clickawash-f3623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93660776492:ios:c93b9f0349cd78d4f2e989</string>
	<key>DATABASE_URL</key>
	<string>https://clickawash-f3623.firebaseio.com</string>
</dict>
</plist>